export(SICR)
export(seed.u0)
export(aggregate.result)
export(herd.inspect)
export(get.time)
export(length.true.check)
export(status.check)
exportClasses(SICR)
exportMethods(run)
import(SimInf)
import(methods)
useDynLib(SICR, .registration=TRUE)
